body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    background-color: white;
}

.page-header, .page-footer {
    padding: 10px;
}
.page-header{
    background-color: #363636;
    color: #c3c3c3;
}
.main-nav {
    list-style: none;
}
.main-nav li{
    text-transform: uppercase;
}
.main-nav a:link {
    color: white;
    text-decoration-line: none;
}
.main-nav a:hover{
    text-decoration: underline;
}
.main-nav a:active {
    color: rgba(255,255,255, 0.3);
}
.btn {
    color:#a38b70;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover {
    color: #8d745a;
}
.btn:active {
    color: rgba(141, 116, 90, 0.3);
}
.page-footer {
    margin-top: 20px;
}
.price-list {
    border-collapse: collapse;
    width: 100%;
}
.price-list th {
font-weight: normal;
text-align: left;
}
.price-list td {
    border: 1px solid #333333;
} 
.price-list th, .price-list td {
padding: 5px 10px;
}
.price-list .price-number {
    text-align: center;
}
.price-list .price-name {
    font-weight: bold;
}
.feedback-form-group {
    padding: 10px 0;
}

.promo  {
    font-size: 45px;
    font-family: "Georgia", serif;
    
    font-weight: bold;
    line-height: 1.222;
    text-align: center;
    position: absolute;
    left: 299.276px;
    top: 274.908px;
    width: 531px;
    height: 94px;
    z-index: 166;
    
  }
  .promo a {
     text-decoration:none;
      color:white;
  }